@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat&display=swap');

:root {
  --color-bg: #191918;
  --color-white: #FFF;
  --color-gray: #DCDCDC;
  --color-pink: #FF3A9A;
  --color-ligthblue: #B3DEED;
  --color-degrade: linear-gradient(#FF3A9A, #B3DEED);
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background: var(--color-bg);
  font-family: 'League Spartan', sans-serif;
  color: var(--color-white);
  /* background-image: url(../src/assets/background.png); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}